.box.header
  .twelve.items.u-text-center
    h1.u-inline Notebook
.box.navbar
  .any.items
    ul
      li #[a(href="/") Home]
      li #[a(href="http://blog.forthright48.com") Blog]
      li #[a(href="/cpps") Notebook]
hr
